.header {
  background-color: #13286f;
  min-height: 750px;
}

.header nav {
  background-color: #13286f;
}

.header nav .navbar-brand {
  cursor: pointer;
  letter-spacing: 1px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.header nav .navbar-brand:hover {
  text-shadow: 2px 2px 1px #25c998;
}

.header nav .nav-link {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header nav .nav-link:hover {
  text-decoration: underline;
}

.header .wave {
  bottom: 0;
  left: 0;
  right: 0;
}

.header .boton1 {
  background: #345cfd;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header .boton1:hover {
  background: #2391ff;
  -webkit-box-shadow: 1px 1px 4px #2391ff;
          box-shadow: 1px 1px 4px #2391ff;
}

.header .boton2 {
  background: #25c998;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header .boton2:hover {
  background: #37daaa;
  -webkit-box-shadow: 1px 1px 4px #37daaa;
          box-shadow: 1px 1px 4px #37daaa;
}

@media (max-width: 768px) {
  .header {
    height: 900px;
  }
}

#servicios .subtitulo {
  position: relative;
  display: block;
}

#servicios .subtitulo::after {
  content: '';
  display: block;
  position: absolute;
  height: 8px;
  border-radius: 15px;
  width: 310px;
  left: calc(50% - 310px / 2);
  background: -webkit-gradient(linear, left top, right top, from(#345cfd), to(#25c998));
  background: linear-gradient(to right, #345cfd, #25c998);
}

#servicios .btn-primary {
  background-color: linear-gradient(to right, #345cfd, #25c998);
}

#servicios .imagen {
  margin: 0px auto;
  width: 320px;
  height: 320px;
  -webkit-box-shadow: 4px 4px 12px #555;
          box-shadow: 4px 4px 12px #555;
}

#servicios .imagen img {
  width: 320px;
  height: 320px;
}

@media (max-width: 768px) {
  #servicios .imagen {
    width: 300px;
    height: 300px;
  }
  #servicios .imagen img {
    width: 300px;
    height: 300px;
  }
  #servicios .subtitulo::after {
    height: 7px;
    width: 220px;
    left: calc(50% - 220px / 2);
  }
}

#sobreMi {
  background: #25c998;
  padding: 50px 0px;
}

#sobreMi .subtitulo {
  position: relative;
  display: block;
}

#sobreMi .subtitulo::after {
  content: '';
  display: block;
  position: absolute;
  height: 8px;
  border-radius: 15px;
  width: 310px;
  left: calc(50% - 310px / 2);
  background: -webkit-gradient(linear, left top, right top, from(#13286f), to(#345cfd));
  background: linear-gradient(to right, #13286f, #345cfd);
}

#sobreMi .img-fluid {
  height: 550px;
  -webkit-box-shadow: 8px 8px 21px #444444;
          box-shadow: 8px 8px 21px #444444;
}

#sobreMi h3 {
  color: #ffffff;
  text-shadow: 2px 2px 6px black;
}

#sobreMi p {
  word-spacing: 1px;
  color: #ffffff;
  text-shadow: 1px 1px 3px black;
}

#sobreMi i {
  font-size: 60px;
  position: relative;
  z-index: 1;
  text-shadow: 2px 2px 3px #444444;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#sobreMi i:hover {
  text-shadow: 4px 4px 4px #444444;
}

#sobreMi i:nth-child(1) {
  color: #f16524;
}

#sobreMi i:nth-child(2) {
  color: #2965f1;
}

#sobreMi i:nth-child(3) {
  color: #f3cf01;
}

#sobreMi i:nth-child(4) {
  color: #ce679a;
}

#sobreMi i:nth-child(5) {
  color: #563d7c;
}

#sobreMi i:nth-child(6) {
  color: #ff7262;
}

#sobreMi i:nth-child(7) {
  color: #ff7262;
}

@media (max-width: 992px) {
  #sobreMi i {
    font-size: 45px;
  }
}

@media (max-width: 768px) {
  #sobreMi i {
    font-size: 65px;
  }
  #sobreMi .subtitulo::after {
    height: 7px;
    width: 220px;
    left: calc(50% - 220px / 2);
  }
}

@media (max-width: 510px) {
  #sobreMi i {
    font-size: 55px;
  }
}

@media (max-width: 410px) {
  #sobreMi i {
    font-size: 45px;
  }
}

#proyectos .card {
  -webkit-box-shadow: 1px 1px 7px #999999;
          box-shadow: 1px 1px 7px #999999;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#proyectos .card-title {
  -webkit-transition: all .5s;
  transition: all .5s;
}

#proyectos .card:hover {
  -webkit-box-shadow: 4px 4px 13px #999999;
          box-shadow: 4px 4px 13px #999999;
}

#proyectos .card:hover .card-title {
  color: #345cfd;
}

#proyectos .subtitulo {
  position: relative;
  display: block;
  z-index: 4;
}

#proyectos .subtitulo::after {
  content: '';
  display: block;
  position: absolute;
  height: 8px;
  z-index: -1;
  border-radius: 15px;
  width: 310px;
  left: calc(50% - 310px / 2);
  background: -webkit-gradient(linear, left top, right top, from(#345cfd), to(#25c998));
  background: linear-gradient(to right, #345cfd, #25c998);
}

#proyectos a {
  background: #345cfd;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#proyectos a:hover {
  background: #2391ff;
}

@media (max-width: 768px) {
  #proyectos .subtitulo::after {
    height: 7px;
    width: 220px;
    left: calc(50% - 220px / 2);
  }
}

#contacto {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.7))), url("../images/contacto.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7) rgba(0, 0, 0, 0.9)), url("../images/contacto.jpg");
  background-size: cover;
}

#contacto .subtitulo {
  position: relative;
  display: block;
}

#contacto .subtitulo::after {
  content: '';
  display: block;
  position: absolute;
  height: 8px;
  border-radius: 15px;
  width: 310px;
  left: calc(50% - 310px / 2);
  background: -webkit-gradient(linear, left top, right top, from(#345cfd), to(#25c998));
  background: linear-gradient(to right, #345cfd, #25c998);
}

#contacto form .textarea {
  height: 8rem;
}

#contacto form .btn {
  background: #345cfd;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#contacto form .btn:hover {
  background: #2391ff;
}

@media (max-width: 768px) {
  #contacto .subtitulo::after {
    height: 7px;
    width: 220px;
    left: calc(50% - 220px / 2);
  }
}

.footer {
  background: #345cfd;
}

.footer i.fab {
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer i.fab:hover {
  text-shadow: 0px 0px 35px #1a1d53;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body {
  scroll-behavior: smooth;
}
/*# sourceMappingURL=styles.css.map */