#contacto {
    .subtitulo {
        position: relative;
        display: block;

        &::after {
            content: '';
            display: block;
            position: absolute;
            height: 8px;
            border-radius: 15px;
            width: 310px;
            left: calc(50% - 310px / 2);
            background: linear-gradient(to right, #345cfd, #25c998);
        }
    }

    background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.7) rgba(0,0,0,.9)), url('../images/contacto.jpg');
    background-size: cover;

    form {
        .textarea {
            height: 8rem;
        }

        .btn {
            background: $color-dark-secondary;
            transition: all .3s;
    
            &:hover {
                background: $color-secondary;
            }
        }
    }
}

@media (max-width: 768px) {
    #contacto {
        .subtitulo {
            &::after {
                height: 7px;
                width: 220px;
                left: calc(50% - 220px / 2);
            }
        }
    }
}