.footer {
    background: $color-dark-secondary;

    i.fab{
        cursor: pointer;
        transition: all .3s;

        &:hover {
            text-shadow: 0px 0px 15px $color-primary;
        }
    }
}