// ESTILOS DEL HEADER
.header {
    background-color: $color-primary;
    min-height: 750px;

    nav {
        background-color: $color-primary;

        .navbar-brand {
            cursor: pointer;
            letter-spacing: 1px;
            transition: all .3s;

            &:hover {
                text-shadow: 2px 2px 1px black;
            }
        }

        .nav-link {
            transition: all .3s;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .banner {
        min-height: 300px;
    }

    .wave {
        bottom: 0;
        left: 0;
        right: 0;
    }

    .btn:nth-child(1) {
        background: $color-dark-secondary;
        transition: all .5s;

            &:hover {
                background: $color-secondary;
                box-shadow: 1px 1px 3px $color-secondary;
            }
    }

    .btn:nth-child(2) {
        background: $color-green-secondary;
        transition: all .5s;

            &:hover {
                background: lighten($color-green-secondary, 7);
                box-shadow: 1px 1px 3px lighten($color-green-secondary, 7);
            }
    }
}