#proyectos {
    .card {
        box-shadow: 1px 1px 7px #888;
    }

    .subtitulo {
        position: relative;
        display: block;
        z-index: 4;

        &::after {
            content: '';
            display: block;
            position: absolute;
            height: 8px;
            z-index: -1;
            border-radius: 15px;
            width: 310px;
            left: calc(50% - 310px / 2);
            background: linear-gradient(to right, #345cfd, #25c998);
        }
    }

    a {
        background: $color-dark-secondary;
        transition: all .5s;

            &:hover {
                background: $color-secondary;
                box-shadow: 1px 1px 3px $color-secondary;
            }
    }
}