#servicios{
    .subtitulo {
        position: relative;
        display: block;

        &::after {
            content: '';
            display: block;
            position: absolute;
            height: 8px;
            border-radius: 15px;
            width: 310px;
            left: calc(50% - 310px / 2);
            background: linear-gradient(to right, #345cfd, #25c998);
        }
    }

    .btn-primary {
        background-color: linear-gradient(to right, #345cfd, #25c998);
    }

    .imagen {
        margin: 0px auto;
        width: 320px;
        height: 320px;
        box-shadow: 4px 4px 12px #555;

        img {
            width: 320px;
            height: 320px;
        }
    }
}

@media (max-width: 768px) {
    #servicios {
        .imagen {
            width: 300px;
            height: 300px;
    
            img {
                width: 300px;
                height: 300px;
            }
        }

        .subtitulo {
            &::after {
                height: 7px;
                width: 220px;
                left: calc(50% - 220px / 2);
            }
        }
    }
}