// COLORS
$color-primary: #13286f;
$color-dark-primary: #1a1d53;
$color-secondary: #2391ff;
$color-dark-secondary: #345cfd;
$color-green-secondary: #25c998;

// Buttons Languagues
$color-html: #f16524;
$color-css: #2965f1;
$color-javascript: #f3cf01;
$color-sass: #ce679a;
$color-bootstrap: #563d7c;
$color-figma: #ff7262;